<header>
  <p>Hello</p>
  <ul>
    <li class="test-list">
      <p class="test-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim aspernatur quasi iusto
        tempora, deserunt quod dolorem, distinctio illum est itaque reiciendis sint. Voluptate facere voluptatum
        mollitia velit deserunt tempora eligendi.</p>
    </li>
    <li class="test-list">
      <p class="test-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim aspernatur quasi iusto
        tempora, deserunt quod dolorem, distinctio illum est itaque reiciendis sint. Voluptate facere voluptatum
        mollitia velit deserunt tempora eligendi.</p>
    </li>
    <li class="test-list">
      <p class="test-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim aspernatur quasi iusto
        tempora, deserunt quod dolorem, distinctio illum est itaque reiciendis sint. Voluptate facere voluptatum
        mollitia velit deserunt tempora eligendi.</p>
    </li>
  </ul>
  <ul class="test">
    <li class="test-li">
      <svg class="test-svg">
        <use href=""></use>
      </svg>
    </li>
    <li class="test-li">
      <svg class="test-svg">
        <use href=""></use>
      </svg>
    </li>
    <li class="test-li">
      <svg class="test-svg">
        <use href=""></use>
      </svg>
    </li>
    <li class="test-li">
      <svg class="test-svg">
        <use href=""></use>
      </svg>
    </li>
  </ul>
</header>